.navbar {
    background: lightsteelblue;
    border: 3px solid black;
    padding-left: 212px;
    margin-left: 523px;
    margin-right: 608px;
}

.navbar a {
    color: #0c0c0c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


