.navbar {
    background: lightsteelblue;
    border: 3px solid black;
    padding-left: 169px;
    padding-right: 56px;
    margin-left: 264px;
    margin-right: 400px;
}

.navbar a {
    color: #0c0c0c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


