body {
    background: lightgray;
    font-family: sans-serif;
}


.navbar {
    text-decoration: none;
    margin-left: 300px;
    margin-top: 27px;
    max-width: 0;
    min-width: fit-content;

}

.navbar a {
    border-radius: 100px;
    background: black;
    text-decoration: none;
    padding-right: 31px;
    padding-left: 31px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    color: lightcyan;
}

/* padding: 2px 30px 7px 32px; */
